
{% extends "base.html" %}

{% load static %}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/style.css' %}">


{% block title  %} Home {% endblock title %}

{% block content %}


<!-- dashboard content start -->
<div class="container-fluid h-100 my-5 drawer_container">
    <div class="row">

       {% include "includes/dashboard_sidebar.html" %}
       
            <!-- <button class="btn sticky-top" data-toggle="collapse" href="#collapseExample" id="" role="button">
                Menu
            </button> -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Your content here -->
                    
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                              What is GrowAgri ?
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">GrowAgri is an award-winning agri-fintech business that enables small-scale
                                farmers and Agri Businesses to maximize their profit. GrowAGRI  bundles everything that a farmer needs: Farm financing, agriculture inputs, advisory, insurance and access to markets.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              How Grow Agri Works? 
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"> Post to your signup using the Grow Agri Web Application, make sure to complete your profile by filling out the necessary details. You can then check the available farms for funding and fund by following the steps as you move along the way. At the end of the stipulated farming period, you will receive a percentage of the earnings made from the sale of the produce along with your initial fund (Principal amount) in your designated bank account mentioned on your profile. </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              How funders given evidence on the farms bought? 
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" > Each successful funding is carried forward in the following way:
 
                                1. Payment made through electronic fund transfers or cheque
                                2. Payment verified by Team GrowAgri
                                3. Invoice is issued
                                4. The 5 working day refund period begins where the funder is entitled to a full refund (After deducting 2.5% transaction fee) if he/she requests for it
                                5. Following the end of the refund period, the fund is transferred to the field operations team for further perusal
                                6. 15/16 days after the date mentioned on the invoice, the certificate of ownership is issued, stating that the farm is fully operational.
                                 
                                The Certificate of Ownership explains the ownership of the asset and Grow Agri’s responsibilities in this regard.
                                For any further assistance, please reach out to us directly by writing to us at help@growagri.com or calling our hotline number at +880 130 00000000. </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                How long does the farm cycle run?
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body" > Depending on the farm you select, the cycle can run from 4 months to up to 12 months. At the end of the farm cycle iFarmer facilitates the sale of the agricultural product and gives you your earnings within the stipulated time as mentioned on the certificate. </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                               How much will i get as my earnings on the farms i purchased?
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body" > Earning is based on a earning-sharing criterion and will depend on the farm you are buying. For example, if you are buying a cow farm with 15% projected earnings, at the end of the farm cycle you will receive a total of your principal amount plus the 15% projected earnings on your principal amount. </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                What happend to my funds? 
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body" > The funds are used to purchase the agricultural product for our registered farmers as well as other amenities required for effective farming, such as vaccination, pesticides, fertilizers etc. We are also keen on providing constant advisory services to the farmers to make sure the management is efficient to ensure the maximum output. At the end of the farming cycle, Grow Agri ensures end market linkage so that the ready products are sold to the right buyer at the right price.</div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                How will i be helping the farmers? 
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body" > You contribute by eliminating the need for loans which come with high interest. This is a burden our farmers have been carrying for ages and with your help through GrowAgri, they can move towards a better standard of living.</div>
                            </div>
                          </div>
                      </div>
                </div>




            </div>
        </div>
    </div>
</div>

<!-- dashboard content end -->











{% endblock content %}