{% load static %}

 <!-- header start -->
 <nav class="navbar navbar-expand-lg border-bottom navbar-light">
    <div class="container-fluid">
        <a class="mb-0 h1 logo_text" href="{% url 'home' %}">
          <img src="{% static 'images/logo.png' %}" height="70" width="150" alt="">
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if user.id is None %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link link_item" href="{% url 'farm' %}">Farm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link_item" href="{% url 'about-us' %}">About Us</a>
                </li>
                <li class="nav-item dropdown"> <!-- Added 'dropdown' class here -->
                    <a class="nav-link link_item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        What we offer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- Dropdown items -->
                        <a class="dropdown-item" href="#">Funders</a>
                        <a class="dropdown-item" href="#">Farmers</a>
                        <a class="dropdown-item" href="#">Smart Supply Chain</a>

                        <!-- Add more dropdown items as needed -->
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link link_item" href="#">Contact</a>
                </li>
            </ul>
            <div>
                <a href="{% url 'register' %}" class="btn btn-primary custom_button">Sign Up</a>
                <a href="{% url 'login' %}" class="btn btn-outline-secondary custom_button">Login</a>
            </div>

            {% else %}



            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                </ul>
                <div class="d-flex align-items-center me-5">

                    <div class="dropdown me-3">
                        <button class="dropdown-toggle user_toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu me-5 mt-3" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </div>

                    <div class="me-3">
                        <p class="m-0 m-0 fw-bold"> {{ user.first_name }} </p>
                        <p class="m-0 m-0">Funder</p>
                    </div>
                </div>
            </div>



            

       

        {% endif %}


           



        </div>
    </div>
</nav>
<!-- header end -->