
{% extends "base.html" %}

{% load static %}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/style.css' %}">


{% block title  %} Home {% endblock title %}

{% block content %}


<!-- dashboard content start -->
<div class="container-fluid h-100 my-5 drawer_container">
    <div class="row">

       {% include "includes/dashboard_sidebar.html" %}
       
            <!-- <button class="btn sticky-top" data-toggle="collapse" href="#collapseExample" id="" role="button">
                Menu
            </button> -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Your content here -->
                    <div class="row gap-5">
                        <div class="col-md-3 col-sm-12">
                            <div class="card py-3">
                                <div class="d-flex justify-content-center">
                                    <img src="{% static 'images/farm.png' %}" height="50" width="50" alt="">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">Total Farm</h5>
                                    <p class="card-text text-center fw-bold">{{ ordered_count }}</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="card py-3" style="">
                                <div class="d-flex justify-content-center">
                                    <img src="{% static 'images/fund.png' %}" height="50" width="50" alt="">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">Total Fund</h5>
                                    <p class="card-text text-center fw-bold"> {{ total_amount }}</p>
                                  </div>
                            </div>
                        </div>
                       
                        <div class="col-md-3 col-sm-12">
                          <div class="card py-3" style="">
                            <div class="d-flex justify-content-center">
                                <!-- User Image -->
                                {% if userprofile.profile_picture %}
                                <img src="{{ userprofile.profile_picture.url }}" height="50" width="50" style="border-radius: 50%;" alt="User Profile Image">
                            {% else %}
                                <!-- If profile picture is not available, display a placeholder or default image -->
                                <img src="{% static 'path/to/placeholder/image.jpg' %}" height="50" width="50" style="border-radius: 50%;" alt="Placeholder Image">
                            {% endif %}
                                          </div>
                            <div class="card-body">
                                <!-- Full Name -->
                                <h5 class="card-title text-center">{{user.first_name}}</h5>
                                <!-- Email -->
                                <p class="card-text text-center">{{user.email}}</p>
                                <!-- Phone Number -->
                                <p class="card-text text-center">{{user.phone_number}}</p>
                            </div>
                        </div>
                        
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- dashboard content end -->











{% endblock content %}