{% extends "base.html" %}

{% load static %}


{% block title  %} Home {% endblock title %}

{% block content %}


<div class="container">
  <div class="card my-5">
      <div class="container py-2">
          <div class="row gap-2">
              <div class="col-md-2 col-sm-12 d-flex justify-content-center align-content-center mt-5">
                  <img src="./image/signup_bg.jpeg" height="100" width="200" alt="">
              </div>
              <div class="col-md-3 col-sm-12 d-flex justify-content-center flex-column align-items-center">
                  <h3 class="fw-bold">Rice Project - 1</h3>
                  <h4 class="fw-bold text_color">20,000 Taka</h4>
              </div>
              <div class="col-md-3 col-sm-12 d-flex justify-content-center flex-column align-items-center">
                  <div class="col-md-6 quantity-input"> <!-- Added class to container div -->
                      <button id="minus-btn" class="btn btn-secondary">-</button>
                      <input type="text" id="quantity" class="form-control mx-2" value="1" readonly>
                      <button id="plus-btn" class="btn btn-secondary">+</button>
                  </div>
              </div>
              <div class="col-md-3 col-sm-12">
                  <div class="d-flex flex-column align-items-center my-5">
                      <h3 class="fw-bold">Total</h3>
                      <h4 class="fw-bold text_color">20,000 Taka</h4>
                  </div>
              </div>
          </div>
          <div class="m-3 d-flex justify-content-end gap-4">
              <button class="custom_button">Insurance</button>
              <button class="custom_button">Checkout</button>
          </div>
      </div>
  </div>
</div>


<script>
  document.getElementById('plus-btn').addEventListener('click', function () {
      var quantityInput = document.getElementById('quantity');
      var currentValue = parseInt(quantityInput.value);
      quantityInput.value = currentValue + 1;
  });

  document.getElementById('minus-btn').addEventListener('click', function () {
      var quantityInput = document.getElementById('quantity');
      var currentValue = parseInt(quantityInput.value);
      if (currentValue > 1) {
          quantityInput.value = currentValue - 1;
      }
  });
</script>


{% endblock content %}
