
{% extends "base.html" %}

{% load static %}


{% block title  %} Home {% endblock title %}

{% block content %}


<!-- Helping farmer start -->
<div class="helping_farmer_container my-5">

    <div class="container">
        <div class="row">
            <!-- Left Side Categories List Group -->
            <div class="col-md-3">

                <li> <a href="{% url 'farm' %}" > All Projects </a></li>

                <div class="list-group">

                    {% for crop_type in links %}

                        <a href="{{ crop_type.get_url }}" class="list-group-item list-group-item-action">{{ crop_type.croptype_name }}</a>
                    {% endfor %}
                    <!-- Add more categories as needed -->
                </div>
            </div>

            <div class="col-md-9">
                <hr class="my-4">
                <div class="row">

                    <div class="form-inline">
                        <span class="mr-md-auto"> Found,  {{ farms_count }} Runnging Projects </span>

                        <br> </br>
                    </div>
                    {% for farm in farms %}

                   

                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="card p-2">
                            <div class="d-flex justify-content-center">
                                <img src="{{ farm.images.url }}" class="img-fluid" style="max-height: 200px; width: auto;" alt="">
                            </div>
                            <div class="container my-2">
                                <h2 class="text_color">{{ farm.farm_name }}</h2>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <p class="fw-bold">Cost per unit</p>
                                        <p class="fw-bold text_color">{{ farm.price }} Taka</p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <p class="fw-bold">Profit earning</p>
                                        <p class="fw-bold text_color">{{ farm.custom_percentage }} </p>     
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <p class="fw-bold">DURATION</p>
                                        <p class="fw-bold text_color"> {{ farm.duration }} Months</p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <p class="fw-bold">LOCATION</p>
                                        <p class="fw-bold">{{ farm.location }}</p>
                                    </div>
                                </div>
                            </div>

                            <a href="{% url 'farm_detail' crop_slug=farm.category.slug farm_slug=farm.slug %}" class="btn btn-primary custom_button">Fund Now</a>


                        </div>
                    </div>

                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>
<!-- Helping farmer end -->





{% endblock content %}

